<% provide(:title, "Show")%>
<div class="row">
	<div class="col-4">
		<div class="mt-4 mr-auto card">
			<div class="card-header">
				User Information
			</div>
			<div class="card-body">
				<div class="text-center">
					<%= profile_image(@user, "profile-big")%>
				</div>
				<div class="mx-auto text-center">
					<h5 class="card-title"><%= @user.name%></h5>
					<p class="card-text"> <%= @user.email%></p>
				</div>
			</div>
		</div>

		<%if current_user.following?(@user)%>
		<%= button_to "Unfollow", relationship_path(@user.id), method: :delete, params: {followed_id: @user.id} %> 
		<%else%>
		<%= button_to "Follow", relationships_path, params: {followed_id: @user.id} %> 
		<%end%>
	</div>

	<div class="col-8">
		<div class="mt-4 ml-auto card">
			<div class="card-header">
				Activity Feeds
			</div>
				<% @posts.each do |u| %>
					<div class="mt-4 media p-lg-2">
						<%= profile_image(@user, "profile-big" )%>
						<div class="mt-2 ml-2 media-body">
							<h4><%= u.user.email%></h4>
							<p><%= u.content%> </p>
						</div>
						<%= link_to "Delete", post_path(u.id), method: :delete, class:"btn btn-danger", data: {confirm:"Are you sure you want to delete?"}%>
					</div>
				<%end%>
			</div>
			<div class="mt-4 pagination justify-content-center">
				<%= will_paginate @posts%>
			</div>
		</div>
	</div>
</div>

