<% provide(:title, "Show")%>
<div class="row">
	<div class="col-4">
		<div class="card mt-4 mr-auto">
			<div class="card-header">
				User Information
			</div>
			<div class="card-body">
				<div class="text-center">
					<%= profile_image(@user, "profile-big")%>
				</div>
				<div class="mx-auto text-center">
					<h5 class="card-title"><%= @user.name%></h5>
					<p class="card-text"> <%= @user.email%></p>
				</div>
			</div>
			<%if @user == current_user%>
				<div class="card-footer">
					<%= render "posts/form"%>
				</div>
			<%end%>
		</div>
	</div>

	<div class="col-8">
		<div class="card mt-4 ml-auto">
			<div class="card-header">
				Activity Feeds
			</div>
				<% @posts.each do |u| %>
					<div class="media mt-4 ml-4">
						<%= profile_image(@user, "profile-big", )%>
						<div class="media-body ml-2">
							<h4><%= u.user.email%> </h4>
							<p><%= u.content%> </p>
						</div>
					</div>
				<%end%>
			</div>
		</div>
	</div>
</div>

